# Creating client profiles from Faker

In [1]:
#imports
import pandas as pd
import numpy as np

#!pip install faker

In [97]:
from faker import Faker
from faker.providers.person.en import Provider as Name
from faker.providers.date_time import Provider as Date

fake = Faker()
Faker.seed(19)

In [90]:
#for i in range(10):
#    fake.name(),
#    fake.date_of_birth(minimum_age = 60, maximum_age=90),
#    fake.date_between_dates()

In [91]:
df = pd.DataFrame(columns=['first_name', 'last_name', 'date_of_birth', 'start_date', 'end_date'])

In [92]:
def fake_names(name_type, size):
    """
    Generate n-length ndarray of person names.
    name_type: a string, either first_names or last_names
    """
    names = getattr(Name, name_type)
    return np.random.choice(names, size=size)

In [120]:
def fake_dob(date_type, size):
    for i in range(size):
        printfake.date_between(start_date='-90y', end_date='-60y')
        

   # dob = fake.date_between(start_date='-6y', end_date='-2y')
   # return np.random.choice(dob, size=size)

In [124]:
size=10

In [125]:
df['first_name'] = fake_names('first_names', size)
df['last_name'] = fake_names('last_names', size) 
df['date_of_birth']= fake_dob('date_of_birth', size)
df['start_date'] = fake.date_between(start_date='-6y', end_date='-2y')
df['end_date'] = fake.date_between(start_date='-1y', end_date='today')

In [126]:
df.head(10)

  first_name   last_name date_of_birth  start_date    end_date
0   Patricia       Ferry    1934-05-25  2018-01-08  2020-01-29
1     Evette     Quitzon    1934-05-25  2018-01-08  2020-01-29
2   Thurston     Labadie    1934-05-25  2018-01-08  2020-01-29
3      Kisha         Rau    1934-05-25  2018-01-08  2020-01-29
4     Paloma    Eichmann    1934-05-25  2018-01-08  2020-01-29
5     Cammie       Sauer    1934-05-25  2018-01-08  2020-01-29
6       Opal     Ruecker    1934-05-25  2018-01-08  2020-01-29
7   Jennings  Wintheiser    1934-05-25  2018-01-08  2020-01-29
8   Theodore     Witting    1934-05-25  2018-01-08  2020-01-29
9    Berkley    Thompson    1934-05-25  2018-01-08  2020-01-29

In [119]:
fake.profile(fields=)

SyntaxError: invalid syntax (<ipython-input-119-a02556b6fef1>, line 1)