# Creating client profiles from Faker

In [1]:
#imports
import pandas as pd
import numpy as np

#!pip install faker

In [2]:
from faker import Faker
from faker.providers.person.en import Provider

fake = Faker()

In [3]:
for i in range(10):
    fake.name(),
    fake.date_of_birth(minimum_age = 60, maximum_age=90),
    fake.date_between_dates()

In [5]:
df = pd.DataFrame(columns=['first_name', 'last_name', 'birthdate', 'start_date', 'end_date'])

In [6]:
def fake_names(name_type, size):
    """
    Generate n-length ndarray of person names.
    name_type: a string, either first_names or last_names
    """
    names = getattr(Provider, name_type)
    return np.random.choice(names, size=size)

In [ ]:
def fake_dob (date_of_birth, size):

In [ ]:
df['Birthdate'] = random_dates(start=pd.to_datetime('1940-01-01'), end=pd.to_datetime('2008-01-01'), size=size)a

In [7]:
size=10

In [8]:
df['first_name'] = fake_names('first_names', size)
df['last_name'] = fake_names('last_names', size) 
df['birthdate']= fake.date_of_birth(minimum_age = 60, maximum_age=90)
df['start_date'] = fake.date_between(start_date='-6y')
df['end_date'] = fake.date_between(start_date='-1y')

In [9]:
df.head()

  first_name     last_name   birthdate  start_date    end_date
0     Denice  Pfannerstill  1954-07-19  2019-02-01  2019-12-09
1   Campbell        Dooley  1954-07-19  2019-02-01  2019-12-09
2    Santino          Dach  1954-07-19  2019-02-01  2019-12-09
3   Channing       Johnson  1954-07-19  2019-02-01  2019-12-09
4    Josette          Koch  1954-07-19  2019-02-01  2019-12-09